name: main

on:
  push:
    tags-ignore:
      - "**"
    branches:
      - "**"

jobs:
  generated-go:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: go generate
        shell: bash
        run: go generate ./...
      - uses: a-novel-kit/workflows/generic-actions/check-changes@master
        with:
          fail_message: go generate definitions are not up-to-date, please run 'go generate ./...' and commit the changes

  generated-pnpm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: a-novel-kit/workflows/generic-actions/pull-bot@master
        id: app_token
        with:
          app_id: ${{ vars.DEPENDENCY_BOT_ID }}
          app_private_key: ${{ secrets.DEPENDENCY_BOT_PRIVATE_KEY }}
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: install pnpm
        shell: bash
        run: npm install -g pnpm
      - name: setup github registry
        shell: bash
        run: |
          pnpm config set "@a-novel:registry" "https://npm.pkg.github.com"
          pnpm config set "//npm.pkg.github.com/:_authToken" "${{ secrets.GITHUB_TOKEN }}"
      - name: install dependencies
        shell: bash
        run: pnpm i --frozen-lockfile
      - name: pnpm
        shell: bash
        run: pnpm generate
      - uses: a-novel-kit/workflows/generic-actions/check-changes@master
        with:
          fail_message: pnpm definitions are not up-to-date, please run 'pnpm generate' and commit the changes

  lint-go:
    runs-on: ubuntu-latest
    needs: [generated-go]
    permissions:
      contents: read
    steps:
      - uses: a-novel-kit/workflows/go-actions/lint-go@master

  lint-node:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: a-novel-kit/workflows/node-actions/lint-node@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          app_private_key: ${{ secrets.DEPENDENCY_BOT_PRIVATE_KEY }}
          app_id: ${{ vars.DEPENDENCY_BOT_ID }}

  test:
    needs: [lint-go, build-database]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      artifact-id: ${{ steps.test.outputs.artifact-id }}
    services:
      postgres:
        image: ghcr.io/a-novel/service-authentication/database@${{ needs.build-database.outputs.digest }}
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      postgres-json-keys:
        image: ghcr.io/a-novel/service-json-keys/database:v2.1.1
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      service-json-keys:
        image: ghcr.io/a-novel/service-json-keys/standalone:v2.1.1
        ports:
          - "4002:8080"
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        env:
          POSTGRES_DSN: postgres://postgres:postgres@postgres-json-keys:5432/postgres?sslmode=disable
          APP_MASTER_KEY: "fec0681a2f57242211c559ca347721766f8a3acd8ed2e63b36b3768051c702ca"
    env:
      POSTGRES_DSN_TEST: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
      POSTGRES_DSN: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
      SERVICE_JSON_KEYS_TEST_PORT: 4002
      SERVICE_JSON_KEYS_TEST_HOST: 0.0.0.0
      PLATFORM_AUTH_URL: http://localhost:6001
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/run-migrations
      - uses: a-novel-kit/workflows/go-actions/test-go@master
        id: test
        with:
          ignore_patterns: /mocks,/test,/cmd
          skip_setup: true
          coverage_artifact: gocover

  test-js:
    runs-on: ubuntu-latest
    needs: [build-database, build-standalone]
    permissions:
      contents: read
      packages: read
    outputs:
      artifact-id: ${{ steps.test.outputs.artifact-id }}
    services:
      mailserver:
        image: ghcr.io/axllent/mailpit:v1.28.0
        ports:
          - "8025:8025"
        env:
          MP_MAX_MESSAGES: 5000
          MP_SEND_API_AUTH_ACCEPT_ANY: true
          MP_SMTP_AUTH_ACCEPT_ANY: true
          MP_SMTP_AUTH_ALLOW_INSECURE: true
          MP_SENDMAIL_FROM: noreply@agorastoryverse.com
          MP_DISABLE_WAL: true

      postgres-authentication:
        image: ghcr.io/a-novel/service-authentication/database@${{ needs.build-database.outputs.digest }}
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      postgres-json-keys:
        image: ghcr.io/a-novel/service-json-keys/database:v2.1.1
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      service-json-keys:
        image: ghcr.io/a-novel/service-json-keys/standalone:v2.1.1
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        env:
          POSTGRES_DSN: postgres://postgres:postgres@postgres-json-keys:5432/postgres?sslmode=disable
          APP_MASTER_KEY: "fec0681a2f57242211c559ca347721766f8a3acd8ed2e63b36b3768051c702ca"

      service-authentication:
        image: ghcr.io/a-novel/service-authentication/standalone@${{ needs.build-standalone.outputs.digest }}
        ports:
          - "4011:8080"
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        env:
          POSTGRES_DSN: postgres://postgres:postgres@postgres-authentication:5432/postgres?sslmode=disable
          SERVICE_JSON_KEYS_PORT: 8080
          SERVICE_JSON_KEYS_HOST: service-json-keys
          SUPER_ADMIN_EMAIL: noreply@agorastoryverse.com
          SUPER_ADMIN_PASSWORD: admin
          PLATFORM_AUTH_URL: "http://auth-platform"
          SMTP_SENDER_DOMAIN: mailserver
          SMTP_ADDR: mailserver:1025
          SMTP_SENDER_NAME: Agora Storyverse [noreply]
          SMTP_SENDER_EMAIL: noreply@agorastoryverse.com
          SMTP_SENDER_PASSWORD: noreply
          SMTP_FORCE_UNENCRYPTED: true
    env:
      API_URL: http://0.0.0.0:4011
      SUPER_ADMIN_EMAIL: noreply@agorastoryverse.com
      SUPER_ADMIN_PASSWORD: admin
      MAIL_TEST_HOST: http://0.0.0.0:8025
    steps:
      - uses: a-novel-kit/workflows/node-actions/test-node@master
        id: test
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          app_private_key: ${{ secrets.DEPENDENCY_BOT_PRIVATE_KEY }}
          app_id: ${{ vars.DEPENDENCY_BOT_ID }}
          coverage_artifact: jscover

  build-database:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    outputs:
      digest: ${{ steps.build.outputs.digest }}
    env:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
      POSTGRES_INITDB_ARGS: --auth=scram-sha-256
    steps:
      - uses: a-novel-kit/workflows/build-actions/docker@master
        id: build
        with:
          file: builds/database.Dockerfile
          image_name: ${{ github.repository }}/database
          github_token: ${{ secrets.GITHUB_TOKEN }}
          run_args: >-
            -e POSTGRES_PASSWORD="${POSTGRES_PASSWORD}" 
            -e POSTGRES_USER="${POSTGRES_USER}" 
            -e POSTGRES_DB="${POSTGRES_DB}"
            -e POSTGRES_HOST_AUTH_METHOD="${POSTGRES_HOST_AUTH_METHOD}"
            -e POSTGRES_INITDB_ARGS="${POSTGRES_INITDB_ARGS}"

  build-migrations:
    runs-on: ubuntu-latest
    needs: [build-database]
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    services:
      postgres-authentication:
        image: ghcr.io/a-novel/service-authentication/database@${{ needs.build-database.outputs.digest }}
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      POSTGRES_DSN: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
    steps:
      - uses: a-novel-kit/workflows/build-actions/docker-job@master
        with:
          file: builds/migrations.Dockerfile
          image_name: ${{ github.repository }}/jobs/migrations
          github_token: ${{ secrets.GITHUB_TOKEN }}
          run_args: -e POSTGRES_DSN="${POSTGRES_DSN}"

  build-job-init:
    runs-on: ubuntu-latest
    needs: [test, build-database]
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    services:
      postgres-authentication:
        image: ghcr.io/a-novel/service-authentication/database@${{ needs.build-database.outputs.digest }}
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      POSTGRES_DSN: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
      SUPER_ADMIN_EMAIL: noreply@agorastoryverse.com
      SUPER_ADMIN_PASSWORD: admin
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/run-migrations
      - uses: a-novel-kit/workflows/build-actions/docker-job@master
        with:
          file: builds/init.Dockerfile
          image_name: ${{ github.repository }}/jobs/init
          github_token: ${{ secrets.GITHUB_TOKEN }}
          run_args: >-
            -e POSTGRES_DSN="${POSTGRES_DSN}"
            -e SUPER_ADMIN_EMAIL="${SUPER_ADMIN_EMAIL}"
            -e SUPER_ADMIN_PASSWORD="${SUPER_ADMIN_PASSWORD}"

  build-rest-api:
    needs: [test, build-database]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    services:
      postgres-authentication:
        image: ghcr.io/a-novel/service-authentication/database@${{ needs.build-database.outputs.digest }}
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256

      postgres-json-keys:
        image: ghcr.io/a-novel/service-json-keys/database:v2.1.1
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      service-json-keys:
        image: ghcr.io/a-novel/service-json-keys/standalone:v2.1.1
        ports:
          - "4002:8080"
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        env:
          POSTGRES_DSN: postgres://postgres:postgres@postgres-json-keys:5432/postgres?sslmode=disable
          APP_MASTER_KEY: "fec0681a2f57242211c559ca347721766f8a3acd8ed2e63b36b3768051c702ca"
    env:
      POSTGRES_DSN: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
      SERVICE_JSON_KEYS_PORT: 4002
      SERVICE_JSON_KEYS_HOST: 0.0.0.0
      PLATFORM_AUTH_URL: http://localhost:6001
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/run-migrations
      - uses: a-novel-kit/workflows/build-actions/docker@master
        with:
          file: builds/rest.Dockerfile
          image_name: ${{ github.repository }}/rest-api
          github_token: ${{ secrets.GITHUB_TOKEN }}
          run_args: >-
            -e POSTGRES_DSN="${POSTGRES_DSN}"
            -e SERVICE_JSON_KEYS_PORT="${SERVICE_JSON_KEYS_PORT}"
            -e SERVICE_JSON_KEYS_HOST="${SERVICE_JSON_KEYS_HOST}"
            -e PLATFORM_AUTH_URL="${PLATFORM_AUTH_URL}"

  build-standalone:
    needs: [test, build-database]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    outputs:
      digest: ${{ steps.build.outputs.digest }}
    services:
      postgres-authentication:
        image: ghcr.io/a-novel/service-authentication/database@${{ needs.build-database.outputs.digest }}
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256

      postgres-json-keys:
        image: ghcr.io/a-novel/service-json-keys/database:v2.1.1
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      service-json-keys:
        image: ghcr.io/a-novel/service-json-keys/standalone:v2.1.1
        ports:
          - "4002:8080"
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        env:
          POSTGRES_DSN: postgres://postgres:postgres@postgres-json-keys:5432/postgres?sslmode=disable
          APP_MASTER_KEY: "fec0681a2f57242211c559ca347721766f8a3acd8ed2e63b36b3768051c702ca"
    env:
      POSTGRES_DSN: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
      SERVICE_JSON_KEYS_PORT: 4002
      SERVICE_JSON_KEYS_HOST: 0.0.0.0
      PLATFORM_AUTH_URL: http://localhost:6001
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/run-migrations
      - uses: a-novel-kit/workflows/build-actions/docker@master
        id: build
        with:
          file: builds/standalone.Dockerfile
          image_name: ${{ github.repository }}/standalone
          github_token: ${{ secrets.GITHUB_TOKEN }}
          run_args: >-
            -e POSTGRES_DSN="${POSTGRES_DSN}"
            -e SERVICE_JSON_KEYS_PORT="${SERVICE_JSON_KEYS_PORT}"
            -e SERVICE_JSON_KEYS_HOST="${SERVICE_JSON_KEYS_HOST}"
            -e PLATFORM_AUTH_URL="${PLATFORM_AUTH_URL}"

  build-js:
    needs: [test-js]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: a-novel-kit/workflows/node-actions/build-node@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          app_private_key: ${{ secrets.DEPENDENCY_BOT_PRIVATE_KEY }}
          app_id: ${{ vars.DEPENDENCY_BOT_ID }}
          build_action: "build:rest"

  report-grc:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' && success()
    needs: [test, test-js]
    permissions:
      contents: read
    steps:
      - uses: a-novel-kit/workflows/go-actions/go-report-card@master
        if: github.ref == 'refs/heads/master' && success()

  report-codecov:
    runs-on: ubuntu-latest
    needs: [test, test-js]
    permissions:
      contents: read
    steps:
      - uses: a-novel-kit/workflows/generic-actions/codecov@master
        with:
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
          coverage_files: coverage.txt,coverage/*
          coverage_artifact_ids: ${{ needs.test.outputs.artifact-id }},${{ needs.test-js.outputs.artifact-id }}
