name: main

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    needs: [generated]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    services:
      postgres:
        image: postgres:17-alpine
        env:
          POSTGRES_PASSWORD: test
          POSTGRES_USER: test
          POSTGRES_DB: test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    env:
      DSN: postgres://test:test@localhost:5432/test?sslmode=disable
      MASTER_KEY: "fec0681a2f57242211c559ca347721766f8a3acd8ed2e63b36b3768051c702ca"
      SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
    steps:
      - uses: a-novel-kit/workflows/go-actions/test-go@master

  generated:
    needs: []
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: "1"
      - name: mockery
        shell: bash
        run: make mocks
      - uses: a-novel-kit/workflows/generic-actions/check-changes@master
        id: mockery-changes
      - name: Check mockery diff
        if: steps.mockery-changes.outputs.diff == '1'
        run: echo "mockery definitions are not up-to-date, please run 'make mocks' and commit the changes" && exit 1
      - name: go generate
        shell: bash
        run: go generate ./...
      - uses: a-novel-kit/workflows/generic-actions/check-changes@master
        id: generate-changes
      - name: Check go generate diff
        if: steps.generate-changes.outputs.diff == '1'
        run: echo "go generate changes are not up-to-date, please run 'go generate ./...' and commit the changes" && exit 1

  lint-go:
    needs: [generated]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: a-novel-kit/workflows/go-actions/lint-go@master

  lint-postgresql:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: a-novel-kit/workflows/postgres-actions/lint-postgres@master

  lint-open-api:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: a-novel-kit/workflows/open-api-actions/lint-open-api@master

  lint-prettier:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: a-novel-kit/workflows/node-actions/prettier@master

  publish-open-api:
    runs-on: ubuntu-latest
    needs: [lint-open-api]
    if: github.ref == 'refs/heads/master' && success()
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      contents: read
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
    steps:
      - id: deployment
        uses: a-novel-kit/workflows/github-pages-actions/publish-static@master

  report-codecov:
    runs-on: ubuntu-latest
    needs: [test, lint-go]
    permissions:
      contents: read
    steps:
      - uses: a-novel-kit/workflows/go-actions/codecov-go@master
        with:
          codecov_token: ${{ secrets.CODECOV_TOKEN }}

  report-grc:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' && success()
    needs: [test, lint-go]
    permissions:
      contents: read
    steps:
      - uses: a-novel-kit/workflows/go-actions/go-report-card@master
        if: github.ref == 'refs/heads/master' && success()

  api-build:
    needs: [test]
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17-alpine
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    env:
      DSN: "postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable"
      MASTER_KEY: "fec0681a2f57242211c559ca347721766f8a3acd8ed2e63b36b3768051c702ca"
      SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
    steps:
      - uses: a-novel-kit/workflows/build-actions/docker-rest-api@master
        with:
          file: api.Dockerfile
          image_name: ${{ github.repository }}/api
          image_tags: ${{ github.head_ref || github.ref_name }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          run_args: -e DSN="${DSN}" -e MASTER_KEY="${MASTER_KEY}" -e SENDGRID_API_KEY="${SENDGRID_API_KEY}"

  rotate-keys-build:
    needs: [test]
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17-alpine
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    env:
      DSN: "postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable"
      MASTER_KEY: "fec0681a2f57242211c559ca347721766f8a3acd8ed2e63b36b3768051c702ca"
      SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
    steps:
      - uses: a-novel-kit/workflows/build-actions/docker-job@master
        with:
          file: rotatekeys.Dockerfile
          image_name: ${{ github.repository }}/jobs/rotatekeys
          image_tags: ${{ github.head_ref || github.ref_name }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          run_args: -e DSN="${DSN}" -e MASTER_KEY="${MASTER_KEY}" -e SENDGRID_API_KEY="${SENDGRID_API_KEY}"
